attrs
beautifulsoup4
bs4
blinker
certifi
cffi
charset-normalizer
Crypto
click
colorama
Flask
h11
idna
itsdangerous
Jinja2
MarkupSafe
outcome
packaging
pycparser
PySocks
python-dotenv
flask_login
requests
selenium
sniffio
sortedcontainers
soupsieve
trio
trio-websocket
typing_extensions
urllib3
webdriver-manager
websocket-client
Werkzeug
wsproto
gunicorn
markdown
openai
psycopg2-binary
lxml
sqlalchemy
flask-migrate
Flask-SQLAlchemy
Flask-Migrate
Flask-Caching
Flask-Limiter